{% extends './base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<style>
    .custom-card {
        background-color: #380475;
    }
</style>
<div class="px-4 py-5 my-5 text-center">
    <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" fill="currentColor" class="bi bi-pc-display" viewBox="0 0 16 16">
            <path d="M8 1a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1zm1 13.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0m2 0a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0M9.5 1a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zM9 3.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1h-5a.5.5 0 0 0-.5.5M1.5 2A1.5 1.5 0 0 0 0 3.5v7A1.5 1.5 0 0 0 1.5 12H6v2h-.5a.5.5 0 0 0 0 1H7v-4H1.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5H7V2z"/>
          </svg>
        <div class="col-lg-12 mx-auto">
            <p class="lead mb-4" style="white-space: pre-wrap;">
Привет! 👋  Рады приветствовать тебя в PCyber -  твоем новом любимом месте для всего, что связано с компьютерами! 💻

Мы предлагаем широкий выбор компьютеров  - от мощных игровых машин до компактных офисных решений.  💪  У нас есть все, что нужно для сборки твоего идеального ПК, включая комплектующие, периферию и аксессуары. 🎮  
В PCyber ты найдешь:
* Профессиональную консультацию: наши эксперты помогут тебе подобрать оптимальную конфигурацию, отвечающую твоим потребностям и бюджету. 
* Гарантию качества:  мы работаем только с проверенными брендами и предлагаем гарантию на всю продукцию. 
* Доступные цены:  мы предлагаем конкурентные цены на все товары. 
* Удобство:  мы предлагаем различные варианты доставки и оплаты. 
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="#block" class="btn btn-primary btn-lg px-4 gap-3">Все товары</a>
                <a href="{%url 'all_categories'%}" class="btn btn-outline-secondary btn-lg px-4">Категории</a>
            </div>
        </div>
    </div>
</div>
<div class="block" id="block">
    <div class="container">
        <h1 class="display-5 fw-bold text-white">Все товары</h1>
        <div class="row">
            {% for product in all_products %}
            <div class="col-md-3">
                <div class="card border-0 shadow p-3 mb-5 navind rounded custom-card">
                    <img src="{{ product.image.url }}" class="cover-img card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title text-white">{{ product.name }}</h5>
                        <p class="card-text text-white">{{ product.price }} &#8381;</p>
                        <a href="{% url 'product_detail' product_id=product.pk product_slug=product.slug %}"
                            class="btn btn-primary">Обзор</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}